* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Verdana, sans-serif;
}

#contenitore {
    background-color: #f6f8f9;
    width: 100%;
    height: auto;
}

#top-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    background-color: white;
    font-weight: bolder;
    font-size: 3.2em;
}

nav #icona-logo {
    height: 2em;
}

nav h1 {
    display: inline;
    line-height: 1em;
    vertical-align:40%;
}

#buttons-bar {
    margin: 5% 20% 0.5%;
    border-radius: 5px 5px 0 0;
}

#contenitore-lista {
    margin: 0% 20%;
    border-radius: 0 0 5px 5px;
}

#buttons-bar, #contenitore-lista {
    background-color: white;
    padding: 2% 5% 1%;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 3px 0 0;
}

#primo {
    background-color: rgb(71, 173, 241);
    color: white;
    border: none;
    display: inline-block;
}

#secondo {
    background-color: white;
    color: rgb(199, 205, 210);
    border: 1px solid rgb(199, 205, 210);
}
